body {
    font-family: "IBM Plex Mono";

    background-color: rgb(0, 0, 0);

}



.navigation {
    position: relative;
    width: 1153px;
    height: 55px;
    margin: 0 auto;
}

.developer {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 1400px;
    height: 765px;
    margin: 0 auto;
    height: 765px;
    background-image: url(/recources/developer.png);
}

.logo_link {
    font-size: 42.41px;
    font-weight: 700;
    line-height: 55px;
    text-decoration: none;
    border-radius: 100px;
    color: rgb(27, 255, 7);
    background: rgb(0, 0, 0);
}

.navigation {
    padding-top: 27px;
}

.nav {
    display: inline-block;
}



.nav_link {
    padding-right: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.03em;
    color: rgb(255, 255, 255);
}

.nav_link:last-child {
    padding-right: 0;
}

.nav_link:first-child {
    padding-left: 396px;
}

.nav_link:hover {
    color: rgb(27, 255, 7);
}

.nav_text {
    position: absolute;
    width: 430px;
    height: 103px;
    left: 125px;
    bottom: 328px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: rgb(255, 255, 255);
}

.about_me {
    position: absolute;
    width: 919px;
    height: 205px;
    left: 119px;
    bottom: 94px;
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -0.03em;
    color: rgb(27, 255, 7);
}